# Visual Studio & .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# Python
**/__pycache__/
*.pyc

# Installers & Large temp extracted dirs
{app}/
Lily.exe_extracted/
Lily*.exe_extracted/
Lily*.exe
Lily_V1.2.0-Setup.exe_extracted/
*.iss
*.log

# Publish outputs & Large Binaries
publish/
#publish_output/
*.exe
Lily_V1.2.0-Setup.exe
*.pdb

